* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}
.login-form {
  width: 360px;
  padding: 40px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.login-form h1 {
  margin-bottom: 24px;
  color: #111827;
}

.input-box {
  margin-bottom: 16px;
}

.input-box input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-bottom: 10px;
  font-size: 14px;
}

.remember-forgot {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  margin-bottom: 20px;
}

.remember-forgot a {
  text-decoration: none;
  color: #2563eb;
}

.btn {
  width: 100%;
  padding: 12px;
  background: #2563eb;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s;
}

.btn:hover {
  background: #1d4ed8;
}

.register-link {
  margin-top: 16px;
  font-size: 14px;
}

.register-link a {
  color: #2563eb;
  text-decoration: none;
}

.login-link {
  margin-top: 16px;
  font-size: 14px;
}

.login-link a {
  color: #2563eb;
  text-decoration: none;
}

.register-form {
  width: 360px;
  padding: 40px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  text-align: center;
}

